.navbar {
  background-color: rgb(17, 17, 16);
  padding: 20px 30px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 5px;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 25px;
}

.nav-link:hover {
  background-color: rgb(145, 145, 145);
}
